
ElDorado/bin/Debug/ElDorado.exe
ElDorado/bin/Debug/ElDorado.pdb
ElDorado/obj/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.pdb
*.dll
*.pdb
ElDorado/bin/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.csprojResolveAssemblyReference.cache
ElDorado/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ElDorado/bin/Debug/ElDorado.exe
*.pdb
*.exe
ElDorado/obj/Debug/ElDorado.csproj.GenerateResource.Cache
ElDorado/obj/Debug/ElDorado.csproj.GenerateResource.Cache
ElDorado/obj/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.csproj.GenerateResource.Cache
*.suo
Socialite/bin/Debug/Socialite.exe
Socialite/bin/Debug/Socialite.pdb
Socialite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Socialite/obj/Debug/Socialite.csproj.GenerateResource.Cache
Socialite/obj/Debug/Socialite.exe
Socialite/obj/Debug/Socialite.pdb
Socialite/bin/Debug/Socialite.exe
Socialite/bin/Debug/Socialite.pdb
Socialite/obj/Debug/Socialite.pdb
Socialite/obj/Debug/Socialite.pdb
Socialite/obj/Debug/Socialite.exe
