
ElDorado/bin/Debug/ElDorado.exe
ElDorado/bin/Debug/ElDorado.pdb
ElDorado/obj/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.pdb
*.dll
*.pdb
ElDorado/bin/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.csprojResolveAssemblyReference.cache
ElDorado/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ElDorado/bin/Debug/ElDorado.exe
*.pdb
*.exe
ElDorado/obj/Debug/ElDorado.csproj.GenerateResource.Cache
ElDorado/obj/Debug/ElDorado.csproj.GenerateResource.Cache
ElDorado/obj/Debug/ElDorado.exe
ElDorado/obj/Debug/ElDorado.csproj.GenerateResource.Cache
*.suo
Socialite/bin/Debug/Socialite.exe
Socialite/bin/Debug/Socialite.pdb
Socialite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Socialite/obj/Debug/Socialite.csproj.GenerateResource.Cache
Socialite/obj/Debug/Socialite.exe
Socialite/obj/Debug/Socialite.pdb
Socialite/bin/Debug/Socialite.exe
Socialite/bin/Debug/Socialite.pdb
Socialite/obj/Debug/Socialite.pdb
Socialite/obj/Debug/Socialite.pdb
Socialite/obj/Debug/Socialite.exe
Socialite.v11.suo
ElDorado/bin/Debug/ElDorado.exe
ElDorado/bin/Debug/ElDorado.pdb
ElDorado/obj/Debug/ElDorado.pdb
Socialite.v11.suo
Socialite/bin/Debug/Socialite.exe
Socialite/bin/Debug/Socialite.pdb
Socialite/bin/Debug/Clark.Crawler.dll
Socialite/bin/Debug/Clark.Crawler.pdb
Socialite/bin/Debug/Socialite.exe
Socialite/bin/Debug/Socialite.pdb
Socialite/obj/Debug/Socialite.csprojResolveAssemblyReference.cache
Socialite/obj/Debug/Socialite.exe
Socialite/obj/Debug/Socialite.pdb
AlternateTerritory/bin/Debug/AlternateTerritory.exe.config
AlternateTerritory/bin/Debug/AlternateTerritory.vshost.exe.config
AlternateTerritory/bin/Debug/AlternateTerritory.vshost.exe.manifest
AlternateTerritory/bin/Debug/Settings.xml
AlternateTerritory/obj/Debug/AlternateTerritory.csproj.FileListAbsolute.txt
AlternateTerritory/obj/Debug/AlternateTerritory.csproj.GenerateResource.Cache
AlternateTerritory/obj/Debug/AlternateTerritory.csprojResolveAssemblyReference.cache
AlternateTerritory/obj/Debug/AlternateTerritory.Form1.resources
AlternateTerritory/obj/Debug/AlternateTerritory.Properties.Resources.resources
AlternateTerritory/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AlternateTerritory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AlternateTerritory/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AlternateTerritory/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AlternateTerritory/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ElDorado.v11.suo
ElDorado/bin/Debug/Clark.Crawler.dll
ElDorado/bin/Debug/Clark.Crawler.pdb
ElDorado/bin/Debug/ElDorado.exe
ScanTron/ScanTron/ScanTron/bin/Debug/ScanTron.exe.config
ScanTron/ScanTron/ScanTron/bin/Debug/ScanTron.vshost.exe.manifest
ScanTron/ScanTron/ScanTron/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ScanTron/ScanTron/ScanTron/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ScanTron/ScanTron/ScanTron/bin/Debug/ScanTron.vshost.exe.config
ScanTron/ScanTron/ScanTron/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ScanTron/ScanTron/ScanTron/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ScanTron/ScanTron/ScanTron/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ScanTron/ScanTron/ScanTron/obj/Debug/ScanTron.csproj.FileListAbsolute.txt
